---
import LinkCard from "../../components/LinkCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="XXX | Pjax Demo" page="xxx">
  <main class="l-main" data-barba="wrapper">
    <div data-barba="container" data-barba-namespace="xxx">
      <LinkCard text="XXX" url="/" />
    </div>
  </main>
</Layout>

<style lang="scss"></style>
